body {
    color: black;
    background-image:url('https://cdn.discordapp.com/attachments/881700302426873856/891082386408869888/2021-09-24_19.01.58.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}
html {
    height: 100%
}
.class { 
	font-family: Verdana,Geneva,sans-serif; 
}
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }